{# 注释语法 #}
{#
  extends 关键字：用来继承模板
  定义同名 block 用来覆盖
  其他 block 继承
  （父模板中）不存在的 block 不会渲染
#}
{% extends 'base.html' %}

{# import 引入宏 #}
{% import 'macro.html' as forms %}
{# 也可以直接引进 #}
{# {% from 'macro.html' import input, label as description %} #}


{% block header %}
  {# {{}} 是表达式输出 #}
  <h1>{{ header }}</h1>
{% endblock %}

{% block body %}
  {# filter 关键字：过滤器 #}
  <p>{{ body | replace('/al/g','la') | capitalize }}</p>

  {# if 关键字：条件判断 #}
  {% if str %}
    i'm string
  {% elif ary %}
    i'm array
  {% else %}
    nothing
  {% endif %}

  {# for 关键字：循环数组或对象 #}
  # for n, a in obj
    <li>name: {{ n }} age: {{ a }}</li>
  # endfor
  {# 等价语法 #}
  {% for n, a in obj %}
    <li>name: {{ n }} age: {{ a }}</li>
  {% endfor %}

  {# 数组会自动扁平化 #}
  {% for x, y, z in deeppoints %}
    Point: {{ x }}, {{ y }}, {{ z }}
    {# 当前循环数（以 1 开始计数） #}
    loop index: {{ loop.index }}
    {# 当前循环数（以 0 开始计数） #}
    loop index0: {{ loop.index0 }}
    loop revindex: {{ loop.revindex }}
    loop revindex0: {{ loop.revindex0 }}
    loop first: {{ loop.first }}
    loop last: {{ loop.last }}
    loop length: {{ loop.length }}
  {% endfor %}

  {# 使用宏 macro #}
  {{ forms.field('pass',type='password') }}

  {# raw：特殊输出/纯文本输出 #}
  {% raw %}
  hh{{}}
  {% endraw %}

{% endblock %}

{# super 关键字：调用父模板进行渲染 #}
{% block test %}
super-test
{{ super() }}
{% endblock %}

{% block footer %}
super-footer
{{ super() }}
{% endblock %}

